.box {
  width: auto;
  padding: 10px;
  background-color: #150aad;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: bold;
  position: absolute; /* Mutlaka olmalı */
  cursor: grab;
}